---
import '../styles/global.css';

interface Props {
  title: string;
  description: string;
  lang: string;
}

const { title, description, lang } = Astro.props;
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content={description} />
    <title>{title}</title>
    <link rel="icon" type="image/svg+xml" href="/badge.svg" />
  </head>
  <body class="bg-yellow-50 text-gray-950 min-h-screen flex flex-col">
    <slot />
  </body>
</html>
